<div class="col-sm-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Captcha</h3>
        </div>
        <div class="panel-body">
            <img src="/captcha.jpg" />
            <input type="number" name="captcha" />
        </div>
    </div>
</div>